@{
    ViewBag.Title = "Resource Not Found";
}

<div class="alert alert-danger">
    <h1>
        @ViewBag.ErrorMessage
    </h1>
    <hr />
    <h5>
      Nguon Trang Khong Ton Tai 
    </h5>
    <h6>
        Lien He admin HungTran@gmail.com De duoc suport 
    </h6>

</div>
<a asp-controller="Employee" asp-action="Index" class="btn btn-outline-warning">Click Here</a>